openapi: 3.1.0
info:
  title: InsureTech API
  version: 1.0.0
  description: Auto-generated OpenAPI v3.1 specification from Protocol Buffers.
servers:
- url: https://api.labaidinsuretech.com
  description: Production Server
- url: https://staging-api.labaidinsuretech.com
  description: Staging Server
paths:
  /.well-known/jwks.json:
    get:
      summary: "GetJWKS — serves the RS256 public key set for JWT verification"
      operationId: AuthZService_GetJWKS
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id001
                      $ref: '#/components/schemas/JWKSRetrievalResponse'
              example:
                success: true
                data:
                  keys:
                  - {}
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id001
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id001
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id001
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id001
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id001
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: "GetJWKS — serves the RS256 public key set for JWT verification\n Exposed publicly at /.well-known/jwks.json
        via gateway passthrough"
      parameters:
      - &id098
        name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        description: 'Page number (1-based). Default: 1'
      - &id099
        name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: 'Number of items per page (1-100). Default: 20'
      - &id100
        name: sort_by
        in: query
        required: false
        schema:
          type: string
        description: Field name to sort by (e.g. 'created_at', 'name')
      - &id101
        name: sort_order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: 'Sort direction: ''asc'' or ''desc''. Default: desc'
      - &id102
        name: search
        in: query
        required: false
        schema:
          type: string
        description: Full-text search query
      - &id103
        name: from_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter records from this date (inclusive), format YYYY-MM-DD
      - &id104
        name: to_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter records to this date (inclusive), format YYYY-MM-DD
  /v1/ai/chat:
    post:
      summary: Chat with AI agent
      operationId: AIService_Chat
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id002
                      $ref: '#/components/schemas/ChatResponse'
              example:
                success: true
                data:
                  conversation_id: 01HGW2CONV00000000000000001
                  suggested_actions:
                  - example_item
                  conversation_ended: false
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id002
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id002
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id002
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id002
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id002
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id002
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Chat with AI agent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/ai/claims:evaluate:
    post:
      summary: Evaluate claim
      operationId: AIService_EvaluateClaim
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id003
                      $ref: '#/components/schemas/ClaimEvaluationResponse'
              example:
                success: true
                data:
                  analysis_id: 01HGW2ANALYSIS0000000000001
                  recommendation: APPROVE
                  suggested_amount: '1000.00'
                  confidence: 0.92
                  findings:
                  - example_item
                  required_documents:
                  - example_item
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id003
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Evaluate claim
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimEvaluationRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/ai/documents:analyze:
    post:
      summary: Analyze document
      operationId: AIService_AnalyzeDocument
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id004
                      $ref: '#/components/schemas/DocumentAnalysisResponse'
              example:
                success: true
                data:
                  analysis_id: 01HGW2ANALYSIS0000000000001
                  extracted_data:
                    key: value
                  confidence_score: 0.87
                  warnings:
                  - example_item
                  verification_passed: true
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id004
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Analyze document
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAnalysisRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/ai/fraud:detect:
    post:
      summary: Detect fraud
      operationId: AIService_DetectFraud
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id005
                      $ref: '#/components/schemas/DetectFraudResponse'
              example:
                success: true
                data:
                  analysis_id: 01HGW2ANALYSIS0000000000001
                  is_suspicious: false
                  fraud_score: 12.5
                  risk_indicators:
                  - example_item
                  recommendation: APPROVE
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id005
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Detect fraud
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectFraudRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/ai/risk:assess:
    post:
      summary: Assess risk
      operationId: AIService_AssessRisk
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id006
                      $ref: '#/components/schemas/RiskAssessmentResponse'
              example:
                success: true
                data:
                  analysis_id: 01HGW2ANALYSIS0000000000001
                  risk_score: 35.0
                  risk_category: LOW
                  risk_factors:
                  - example_item
                  recommended_premium:
                    amount: '1000.00'
                    currency: BDT
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id006
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Assess risk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAssessmentRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/analytics/dashboards:
    post:
      summary: Create dashboard
      operationId: AnalyticsService_CreateDashboard
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id007
                      $ref: '#/components/schemas/DashboardCreationResponse'
              example:
                success: true
                data:
                  dashboard_id: 01HGW2EXAMPLE0000000000001
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
          headers:
            Location:
              description: URL of the newly created resource (e.g. /v1/analytics/dashboards/{dashboard_id})
              schema:
                type: string
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id007
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Create dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardCreationRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/analytics/dashboards/{dashboard_id}:
    get:
      summary: Get dashboard
      operationId: AnalyticsService_GetDashboard
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id008
                      $ref: '#/components/schemas/DashboardRetrievalResponse'
              example:
                success: true
                data:
                  dashboard: {}
                  widget_data:
                    key: value
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id008
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id008
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id008
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id008
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id008
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id008
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Get dashboard
      parameters:
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/analytics/metrics:
    post:
      summary: Get metrics
      operationId: AnalyticsService_GetMetrics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id009
                      $ref: '#/components/schemas/MetricsRetrievalResponse'
              example:
                success: true
                data:
                  metrics:
                  - {}
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id009
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id009
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id009
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id009
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id009
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id009
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Get metrics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsRetrievalRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/analytics/queries:run:
    post:
      summary: Run custom query
      operationId: AnalyticsService_RunQuery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id010
                      $ref: '#/components/schemas/RunQueryResponse'
              example:
                success: true
                data:
                  rows:
                  - {}
                  columns:
                  - example_item
                  row_count: 10
                  execution_time_ms: 23.4
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id010
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Run custom query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunQueryRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/analytics/reports/{report_id}:generate:
    post:
      summary: Generate report
      operationId: AnalyticsService_GenerateReport
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id011
                      $ref: '#/components/schemas/ReportGenerationResponse'
              example:
                success: true
                data:
                  report_url: https://example.com/resource
                  file_name: Example Name
                  file_size_bytes: example_value
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id011
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Generate report
      parameters:
      - name: report_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportGenerationRequest'
        required: true
  /v1/analytics/reports:schedule:
    post:
      summary: Schedule report
      operationId: AnalyticsService_ScheduleReport
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id012
                      $ref: '#/components/schemas/ScheduleReportResponse'
              example:
                success: true
                data:
                  report_id: 01HGW2RPT00000000000000001
                  next_run_at: '2024-02-01T00:00:00Z'
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '404':
          description: Not found - The requested resource does not exist
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Not found - The requested resource does not exist
                  error_id: err_example
                  http_status_code: 404
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '409':
          description: Conflict - Resource already exists or state conflict
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Conflict - Resource already exists or state conflict
                  error_id: err_example
                  http_status_code: 409
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id012
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Internal server error - Unexpected server-side error
                  error_id: err_example
                  http_status_code: 500
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
      security:
      - BearerAuth: []
      description: Schedule report
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleReportRequest'
        required: true
      parameters:
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: page_size
        in: query
        description: Number of items per page
        required: false
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
  /v1/api-keys:
    post:
      summary: Generate new API key for insurer/partner
      operationId: ApiKeyService_GenerateApiKey
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: &id013
                      $ref: '#/components/schemas/ApiKeyGenerationResponse'
              example:
                success: true
                data:
                  api_key_id: 01HGW2APIKEY000000000000001
                  api_key: sk_live_01HGW2APIKEY00000000000001
                error: null
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
                  pagination: null
        '400':
          description: Bad request - Malformed request body or invalid parameters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id013
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Bad request - Malformed request body or invalid parameters
                  error_id: err_example
                  http_status_code: 400
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '401':
          description: Unauthorized - Valid authentication token required
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id013
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unauthorized - Valid authentication token required
                  error_id: err_example
                  http_status_code: 401
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '403':
          description: Forbidden - Insufficient permissions for this operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id013
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Forbidden - Insufficient permissions for this operation
                  error_id: err_example
                  http_status_code: 403
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '422':
          description: Unprocessable Entity - Request is valid but failed business validation. See 
            error.field_violations for field-level details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id013
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Unprocessable Entity - Request is valid but failed business validation. See 
                    error.field_violations for field-level details
                  error_id: err_example
                  http_status_code: 422
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '429':
          description: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id013
              example:
                success: false
                data: null
                error:
                  code: ERROR_CODE
                  message: Too Many Requests - Rate limit exceeded. Retry after the indicated delay
                  error_id: err_example
                  http_status_code: 429
                  retryable: false
                  field_violations: []
                meta:
                  request_id: req_example
                  timestamp: '2024-01-15T10:30:00Z'
        '500':
          description: Internal server error - Unexpected server-side error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data: *id013
              example:
                success: false
                data: null
[...]
